body {
	background: #ddd;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 62.5%;
}

/*
.color-primary-0 { color: #0473A2 }
.color-primary-1 { color: #3A9BC5 }
.color-primary-2 { color: #118DC3 }
.color-primary-3 { color: #035B81 }
.color-primary-4 { color: #024664 }
*/