*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background: #ddd;
  box-sizing: border-box;
  font-family: sans-serif; }

@font-face {
  font-family: 'Gyparody';
  src: url("../fonts/gyparody.ttf") format("truetype"); }

h1 {
  font-family: 'Gyparody'; }

.add-new-player {
  background: #ddd;
  border: none;
  border-bottom: 2px solid #021275;
  color: #021275;
  font-size: 3.2rem;
  margin-top: 20%;
  width: 80%; }
  .add-new-player:active, .add-new-player:focus {
    outline: none; }
  .add-new-player::placeholder {
    color: #021275; }

.add-player-submit {
  background: #021275;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: 'Spectral', serif;
  font-size: 2.4rem;
  margin: 0.4rem;
  padding: 0.6rem;
  text-transform: uppercase;
  width: 80%;
  text-shadow: 3px 3px #000; }
  .add-player-submit:hover {
    color: #f0b96c;
    cursor: pointer; }

.daily-double {
  background: #021275;
  background-image: none;
  border-radius: 0;
  color: #eee;
  font-size: 2.4rem;
  font-family: 'Spectral', serif;
  font-weight: 500;
  margin-bottom: 0.2rem;
  padding: 0.6rem;
  text-transform: uppercase;
  width: 100%;
  text-shadow: 3px 3px #000; }
  .daily-double:hover {
    background-image: linear-gradient(to bottom, #8c0233, #3e01a3);
    cursor: pointer; }

.final-answer-container {
  align-items: center;
  background-color: #021275;
  clear: both;
  display: flex;
  justify-content: center;
  margin-bottom: 2px; }

.final-answer {
  background: #021275;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2.4rem;
  margin: 1rem 0;
  padding: 0.4rem;
  width: 80%; }
  .final-answer::placeholder {
    color: #eee; }
  .final-answer:active, .final-answer:focus {
    outline: none; }

.final-button {
  background: #021275;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: 'Spectral', serif;
  font-size: 2.4rem;
  padding: 0.8rem;
  text-transform: uppercase;
  width: 100%;
  text-shadow: 3px 3px #000; }
  .final-button:hover {
    background-image: linear-gradient(to bottom, #8c0233, #3e01a3);
    cursor: pointer; }

.final-wager-container {
  align-items: center;
  background-color: #021275;
  clear: both;
  display: flex;
  justify-content: center;
  margin-bottom: 2px; }

.final-wager {
  background: #021275;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2.4rem;
  margin: 1rem 0;
  padding: 0.4rem;
  width: 80%; }
  .final-wager::placeholder {
    color: #eee; }
  .final-wager:active, .final-wager:focus {
    outline: none; }

.final-button {
  background: #021275;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: 'Spectral', serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  width: 100%;
  text-shadow: 3px 3px #000; }
  .final-button:hover {
    background-image: linear-gradient(to bottom, #8c0233, #3e01a3);
    cursor: pointer; }

.header-main {
  background: #021275;
  color: #fff;
  padding: 1.6rem;
  text-align: center;
  width: 100%; }
  .header-main h1 {
    font-size: 10rem;
    letter-spacing: 2rem;
    text-transform: uppercase; }

.player-container {
  display: inline;
  margin: 1rem;
  overflow: auto;
  text-align: center;
  min-width: 40rem; }

.display-player-score {
  background-color: #021275;
  color: #fff;
  display: block;
  float: left;
  text-align: center;
  width: 100%;
  margin-bottom: 0.2rem; }
  .display-player-score h2 {
    margin: 1.6rem;
    font-size: 3.2rem;
    text-shadow: 3px 3px #000; }

.display-player-name {
  background-color: #021275;
  color: #fff;
  display: inline-block;
  font-family: 'Rock Salt', cursive;
  height: 20rem;
  margin-bottom: 0.2rem;
  padding: 2rem;
  width: 100%; }
  .display-player-name h2 {
    font-size: 6rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .display-player-name h2:hover {
      cursor: pointer; }

.player-list {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 1rem auto;
  justify-content: space-around;
  overflow: auto;
  width: auto; }

.right-wrong-button {
  background: #eee;
  border: none;
  border-radius: 0;
  font-size: 2.4rem;
  padding: 1rem;
  width: 50%; }
  .right-wrong-button:hover {
    cursor: pointer; }
  .right-wrong-button:active, .right-wrong-button:focus {
    outline: none; }

.right {
  color: #579532;
  transition: all 0.4s ease; }
  .right:hover {
    background: #579532;
    color: #eee; }

.wrong {
  color: #aa3939;
  transition: all 0.4s ease; }
  .wrong:hover {
    background: #aa3939;
    color: #eee; }

.score-button-container {
  display: inline-flex; }

.score-button {
  background: #021275;
  border: none;
  border-radius: 0;
  color: #f0b96c;
  font-size: 3.2rem;
  font-weight: 700;
  margin: 1rem;
  padding: 1rem 2rem;
  text-shadow: 3px 3px #000; }
  .score-button:hover {
    background-image: linear-gradient(to bottom, #8c0233, #3e01a3);
    cursor: pointer; }

.activeButton {
  background-image: linear-gradient(to bottom, #8c0233, #3e01a3);
  cursor: pointer; }

.show-answer-container {
  align-items: center;
  background: #021275;
  display: flex;
  margin-bottom: 2px;
  width: 100%; }

.show-answer {
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: 'Spectral', serif;
  font-size: 2.4rem;
  padding: 0.8rem;
  text-transform: uppercase;
  width: 100%;
  text-shadow: 3px 3px #000; }

.wager-container {
  align-items: center;
  background-color: #021275;
  clear: both;
  display: flex;
  height: 12rem;
  justify-content: center;
  margin-bottom: 2px; }

.player-wager {
  background: #021275;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2.4rem;
  margin: 1rem 0;
  padding: 0.4rem;
  width: 80%; }
  .player-wager::placeholder {
    color: #eee; }
  .player-wager:active, .player-wager:focus {
    outline: none; }

.button {
  border-radius: 0; }

.button--action {
  background: #021275;
  border: 2px solid #ddd;
  color: #fff;
  font-family: 'Spectral', serif;
  font-size: 2.4rem;
  padding: 0.8rem;
  text-transform: uppercase;
  width: 100%;
  text-shadow: 3px 3px #000; }
  .button--action:hover {
    color: #f0b96c;
    cursor: pointer; }

.list {
  margin: 1rem auto;
  text-align: center; }

.list--action {
  width: 50%; }

.list--score-buttons {
  width: 100%; }
