// COLORS

$jprdy-blue: #021275;
$jprdy-yellow: #f0b96c;

$highlight-pink: #8c0233;
$highlight-purple: #3e01a3;

$white: #fff;
$light-gray: #eee;
$background-gray: #ddd;

// SIZES

$font-md: 3.2rem;
$font-sm: 2.4rem;
