.right-wrong-button {
	background: #eee;
	border: none;
	border-radius: 0;
	font-size: 2rem;
	height: 3rem;
	width: 50%;
}

.right-wrong-button:active,
.right-wrong-button:focus {
	outline: none;
}

.right-wrong-button:hover {
	cursor: pointer;
}

.right {
	color: #579532;
	transition: all 0.4s ease;
}

.right:hover {
	background: #579532;
	color: #eee;
}

.wrong {
	color: #aa3939;
	transition: all 0.4s ease;
}

.wrong:hover {
	background: #aa3939;
	color: #eee;
}
