.button {
	border-radius: 0;
}

.button--action {
	background: $jprdy-blue;
	border: 2px solid $background-gray;
	color: $white;
	font-family: 'Spectral', serif;
	font-size: 2.4rem;
	padding: .8rem;
	text-transform: uppercase;
	text-shadow: 2px 2px #000;
	width: 100%;

	&:hover {
		color: $jprdy-yellow;
		cursor: pointer;
	}
}