.daily-double {
	background: $jprdy-blue;
	background-image: none;
	border-radius: 0;
	color: $light-gray;
	font-family: 'Spectral', serif;
	font-weight: 500;
	text-transform: uppercase;

	@include textShadow;

	&:hover {
		@include highlight-bg;
	}
}
