.final-wager-container {
	align-items: center;
	background-color: $jprdy-blue;
	clear: both;
	display: flex;
	justify-content: center;
	margin-bottom: 0.2rem;
}

.final-wager {
	background: $jprdy-blue;
	border: 0;
	border-bottom: 2px solid $white;
	color: $white;
	font-size: $font-sm;
	margin: 1rem 0;
	padding: 0.4rem;
	width: 80%;

	&::placeholder {
		color: $light-gray;
	}

	&:active,
	&:focus {
		outline: none;
	}
}
