@font-face {
	font-family: 'Gyparody';
	src: url(../fonts/gyparody.ttf) format('truetype');
}

.header-main {
	background: $jprdy-blue;
	color: $white;
	padding: 1.6rem;
	text-align: center;
	width: 100%;

	h1 {
		font-family: 'Gyparody';
		font-size: 10rem;
		letter-spacing: 2rem;
		text-transform: uppercase;
	}
}
