.list {
  margin: 1rem auto;
  text-align: center;
}

.list--action {
  width: 50%;
}

.list--score-buttons {
  width: 100%;
}

.list--players {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 1rem auto;
  justify-content: space-around;
  overflow: auto;
  width: auto;
}
