.player__container {
	display: inline;
	margin: 1rem;
	overflow: auto;
	text-align: center;

	min-width: 40rem;
}

.player__input-name {
	background: $background-gray;
	border: none;
	border-bottom: 2px solid $jprdy-blue;
	color: $jprdy-blue;
	font-size: $font-md;
	margin-top: 20%;
	width: 80%;

	&:active,
	&:focus {
		outline: none;
	}

	&::placeholder {
		color: $jprdy-blue;
	}
}

.player__submit-name {
	background: $jprdy-blue;
	border: none;
	border-radius: 0;
	color: $white;
	font-family: 'Spectral', serif;
	font-size: $font-sm;
	margin: 0.4rem;
	padding: 0.6rem;
	text-transform: uppercase;
	width: 80%;

	@include textShadow;

	&:hover {
		color: $jprdy-yellow;
		cursor: pointer;
	}
}

.player__action {
	font-size: $font-sm;
	margin-bottom: 0.2rem;
	padding: 0.8rem;
	width: 100%;
}

.display-player-score {
	background-color: $jprdy-blue;
	color: $white;
	display: block;
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 0.2rem;

	h2 {
		margin: 1.6rem;
		font-size: $font-md;

		@include textShadow;
	}
}

.display-player-name {
	background-color: $jprdy-blue;
	color: $white;
	display: inline-block;
	font-family: 'Rock Salt', cursive;
	height: 20rem;
	margin-bottom: 0.2rem;
	padding: 2rem;
	width: 100%;

	h2 {
		font-size: 6rem;
		@include centerInContainer;

		&:hover {
			cursor: pointer;
		}
	}
}
