.player-container {
	display: inline;
	margin: 1rem;
	overflow: auto;
	text-align: center;

	min-width: 40rem;
}

.display-player-score {
	background-color: $jprdy-blue;
	color: $white;
	display: block;
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 0.2rem;

	h2 {
		margin: 1.6rem;
		font-size: $font-md;

		@include textShadow;
	}
}

.display-player-name {
	background-color: $jprdy-blue;
	color: $white;
	display: inline-block;
	font-family: 'Rock Salt', cursive;
	height: 20rem;
	margin-bottom: 0.2rem;
	padding: 2rem;
	width: 100%;

	h2 {
		font-size: 6rem;
		@include centerInContainer;

		&:hover {
			cursor: pointer;
		}
	}
}
