.player-container {
	display: inline;
	overflow: auto;
	text-align: center;

	min-width: 40rem;
}

.display-player-score {
	background-color: $jprdy-blue;
	color: $white;
	display: block;
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 0.2rem;

	h2 {
		margin: 1.6rem;
		font-size: 3.2rem;
		text-shadow: 2px 2px #000;
	}
}

.display-player-name {
	background-color: $jprdy-blue;
	color: $white;
	display: inline-block;
	font-family: 'Rock Salt', cursive;
	height: 20rem;
	margin-bottom: 2px;
	padding: 2rem;
	width: 100%;

	h2 {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 6rem;

		&:hover {
			cursor: pointer;
		}
	}
}
