.score-button-container {
	display: inline-flex;
}

.score-button {
	background: $jprdy-blue;
	border: none;
	border-radius: 0;
	color: $jprdy-yellow;
	font-size: $font-md;
	font-weight: 700;
	margin: 1rem;
	padding: 1rem 2rem;
	
	@include textShadow;

	&:hover {
		@include highlight-bg;
	}
}

.activeButton {
	@include highlight-bg;
}