.score__container {
	display: inline-flex;
}

.score__button {
	background: $jprdy-blue;
	border: none;
	border-radius: 0;
	color: $jprdy-yellow;
	font-family: 'Open Sans', sans-serif;
	font-size: $font-md;
	font-weight: 700;
	margin: 1rem;
	padding: 1rem 2rem;

	@include textShadow;

	&:hover {
		@include highlight-bg;
	}
}

.score__button--active {
	@include highlight-bg;
}
