.show-answer-container {
	align-items: center;
	background: $jprdy-blue;
	display: flex;
	margin-bottom: 2px;
	width: 100%;
}

.show-answer {
	border: none;
	border-radius: 0;
	color: #fff;
	font-family: 'Spectral', serif;
	font-size: $font-sm;
	padding: .8rem;
	text-transform: uppercase;
	width: 100%;

	@include textShadow;
}